@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-50 text-slate-800;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 9999px;
}
